<div class="container-fluid" style="margin-top: -15px;">
  
    <div id="games" class="jumbotron">
      <div  class="container">
        <h1>Bienvenido a AppShipment.com!</h1>
        <p>Tu mejor opcion para compartir envios a nivel nacional e internacional.</p>
        <hr>
      </div>
    </div>


    <div id="titles" class="container" style="opacity:0.8">
     <div class="col-md-12 text-center">
       <h2>Containers Destacados</h2><br><hr>
     </div>
        <div class="row">
			<%= render partial:'container',collection: @containers%>
			  
      </div>

      <hr>
    </div>