<div class="container">
	<div class=" col-md-offset-4 col-md-8" style="">
		<h2>Solicitud Enviada !</h2>
		<div id="img-perfil" class="col-sm-12"><%= image_tag "success.jpg"  , :class =>'image-success'%></div>	
	</div>
</div>